@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('./font.css');

/*GENERAL ROOT AND SETTINGS*/

:root {
    --primary-font: Josefin Sans, sans serif;
    --secondary-font: Inconsolata, serif;
    --third-font: Plus Jakarta Sans, sans serif;
    --primary-background-color: #740c0c;
    --primary-font-color: #ffd8d8;
    --secondary-background-color:  #720d0d;
    --secondary-font-color:#c48282;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body {
    font-family: var(--third-font);
    display: flex;
    flex-direction: column;
    gap: 20vh;
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
}

a {
    text-decoration: none;
    color: var(--primary-font-color);
}

a:hover {
    opacity: 70%;
}

button {
    background-color: transparent;
    border: none;
}


h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

/*INDEX CSS*/

/*INDEX HEADER SECTION*/

.index-header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: 50%;
    top: 4vh;
    left: 10vw;
    right: 5vw;
}

.index-header-nav {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}



/*INDEX MAIN SECTION*/

.index-main {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.title-index-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-font-color);
    color: var(--primary-background-color);
}

.index-category-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5vw;
    max-height: 40%;
    text-align: center;
}


.index-category:hover{
    transform: scale(1.1);
}

.index-category {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-font-color);
    padding: 2vw;
    border-radius: 10px;
    max-width: 500px;
    max-height: 400px;
}

.index-category a {
    font-size: 1.5rem;
    color: var(--primary-background-color);
}

.index-category img {
    border-radius: 10px;
    max-height: 160px;
}









/*ALMUERZOS CSS*/

.pages-header {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: var(--primary-background-color);
    width: 100%;
    height: 10vh;
    gap: 50%;
    z-index: 10;
}

.pages-header-nav {
    display: flex;
    gap: 2vw;
}

.pages-header h3, .pages-header a{
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    position: relative;
    left: 4vw;
}

/*ALMUERZOS MAIN SECTION*/
.pages-main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5vh;
    position: relative;
    top: 20vh;
    bottom: 20vh;
    right: 1vw;
    left: 1vw;
    z-index: 1;
}


.pages-main img {
    border-radius: 20px;
    max-width: 200px;
}
.pages-category{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5vh;
}

.pages-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages-resto-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20vh;
    justify-content: center;
    position: relative;
}


.pages-resto-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1%;
    gap: 2vw;
}

.pages-resto-div{
    background-color: var(--primary-font-color);
    color: var(--primary-background-color);
    border-radius: 30px;
    padding: 1vw;
    max-width: 250px;
    max-height: 300px;
    padding: 1.5%;
}

.pages-resto-div:hover{
    transform: scale(1.1);
    box-shadow: inset 0 0 0 5px var(--secondary-background-color);
}

.pages-resto-div a{
    color: var(--primary-background-color);
}


/*FOOTER GENERAL DISPOSITION*/

footer{
    font-size: 1.5rem;
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*MEDIA QUERIES*/

