@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('./font.css');

/*GENERAL ROOT AND SETTINGS*/

:root {
    --primary-font: Josefin Sans, sans serif;
    --secondary-font: Inconsolata, serif;
    --third-font: Plus Jakarta Sans, sans serif;
    --primary-background-color: #740c0c;
    --primary-font-color: #ffd8d8;
    --secondary-background-color: #720d0d;
    --secondary-font-color: #c48282;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bi-egg-fried {
    padding: 15px;
    margin: 0;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: var(--third-font);
    display: flex;
    flex-direction: column;
   /* gap: 20vh;*/
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    height: 100%;
    padding-top: 15vh;
}

a {
    text-decoration: none;
    color: var(--primary-font-color);
}

a:hover {
    color: aqua;
    opacity: 70%;
}

button {
    background-color: transparent;
    border: none;
    font-family: var(--third-font);
    color: var(--primary-background-color);
    background-color: var(--primary-font-color);
    border-radius: 15px;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
}
button:hover{
    font-size: 1.05rem;
}
button:active{
    scale: 1.05;
}
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    padding: 2%;
    text-align: center;
}
.index-category-container h3{
    color: #fff;
    text-align: center;
}


/*INDEX CSS*/

/*INDEX HEADER SECTION*/

.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0; 
    width: 100%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: #740c0c;
    width: 100%;
    height: 10vh;
    z-index: 1000;
}

.index-header button {
    margin-right: 2vw;
}

.modal-content h2, .modal-content-location h2{
    color: var(--primary-background-color);
    text-align: center;
}

.index-header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6vw;
}
.toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
/* DROPDOWN MENU */
.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255,   255 , 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.closed {
    display: none;
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.dropdown_menu li:not(li .action_btn):hover{
    background-color: rgba(240, 248, 255, 0.5); 
    border-radius: 30px;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


/*INDEX MAIN SECTION*/

.index-main {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    flex: 1;
    padding-bottom: 50px;
}

.title-index-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-font-color);
    color: var(--primary-background-color);
}

.index-category-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 5vw;
    max-height: 60%;
    text-align: center;
}

.index-category:hover {
    transform: scale(1.1);
}

.index-category {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-font-color);
    padding: 2vw;
    border-radius: 10px;
    max-width: 500px;
    max-height: 400px;
}

.index-category a {
    font-size: 1.5rem;
    color: var(--primary-background-color);
}

.index-category img {
    border-radius: 10px;
    max-height: 160px;
}

/*Crud*/
#list-table-reservas {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    
}
table, th, td {
    border: 1px solid black; /* Aplica bordes de 1px en todas las celdas y la tabla */
  }

  th, td {
    padding: 8px; /* Agrega espacio interno a las celdas */
    text-align: left; /* Alinea el texto a la izquierda */
  }

  th {
    color: #720d0d;
    background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
  }

  tr:nth-child(even) {
    background-color: #b63636;
  }
  
  tr:nth-child(odd) {
    background-color: #aa1f1f;
  }
/*ALMUERZOS CSS*/

.pages-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    background-color: var(--primary-background-color);
    width: 100%;
    height: 14vh;
    gap: 40%;
    z-index: 10;
}

.pages-header-nav {
    display: flex;
    gap: 6vw;
}

.pages-header h3,
.pages-header a {
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    position: relative;
    left: 4vw;
}

.index-header-nav a {
    cursor: pointer;
}

/*ALMUERZOS MAIN SECTION*/
.pages-main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5vh;
    position: relative;
    top: 1vh;
    bottom: 20vh;
    padding: 20px;
   
}


.pages-main img {
    border-radius: 20px;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    display: flex;
    align-self: center;
}

.pages-category {
    display: flex;
    flex-direction: column;
    
    gap: 5vh;
}

.pages-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages-resto-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}


.pages-resto-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1%;
    gap: 2vw;
}
.pages-resto-div img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
}
.pages-resto-div {
    background-color: var(--primary-font-color);
    color: var(--primary-background-color);
    border-radius: 30px;
    padding: 1vw;
    max-width: 250px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pages-resto-div:hover {
    transform: scale(1.05);
    box-shadow: inset 0 0 0 5px var(--secondary-background-color);
}

.pages-resto-div a {
    color: var(--primary-background-color);
}


/*FOOTER GENERAL DISPOSITION*/


.redes-sociales {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.redes-sociales a {
    margin: 20px;
}

/*CONTACTO FORM GENERAL DISPOSITION*/

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
   
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
    animation-name: modalAppear;
    animation-duration: 0.4s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    color: #740c0c;
    align-content: center;
    text-align: center;
}

/* Estilos para las etiquetas */
form label {
    color: var(--primary-background-color);
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    
}

/* Estilos para los inputs */
form input {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}
form select {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}
/* Estilos para el bot贸n de enviar */
form button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

/* Efecto de hover para el bot贸n */
form button:hover {
    background-color: #45a049;
}

.modal-location {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content-location {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    height: 90%;
    animation-name: modalAppear;
    animation-duration: 0.4s
}
.modal-content-location iframe {
    width: 100%;
    height: 90%;
}

.close-location {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*MEDIA QUERIES*/
@media (max-width: 1200px) {
    .pages-resto-div {
        flex-basis: 45%;
    }
}

@media (max-width: 800px) {
    body {
        gap: 5vh;
    }
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1rem;
    }
    .index-main {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    .index-category a {
        font-size: 1rem;
        
    }
    .index-category{
        max-width: 350px;
    }
    .modal-content {
        width: 90%;
    }
    .pages-resto-div {
        flex-basis: 100%;
    }
    header button, .index-header nav {
        display: none;
    }
     .toggle_btn {
        padding: 10px;
        display: block;
    }
    
    a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        
    }

    .dropdown_menu{
        display: block;
        z-index: 1;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redes-sociales {
        display: flex;
        padding: 10px;
        justify-content: center;
        font-size: 1rem;
        width: 50%;
    }
    .redes-sociales a, .redes-sociales p{
        width: 30%;
    }
}

@media (max-width: 576px) {
    body {
        gap: 1vh;
    }
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .index-category a {
        font-size: 0.75rem;
        
    }
    .index-category{
        max-width: 230px;
        margin-top: 20px;
    }
    .index-main {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .redes-sociales {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        font-size: 1rem;
        width: 80%;
    }
    .pages-resto-div {
        flex-basis: 100%;
        margin: 2% 0;
    }

    .pages-resto-div h3, .pages-resto-div p {
        text-align: center;
    }
    
}

/* Animaci贸n de aparici贸n */
@keyframes modalAppear {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }